{%load static%}
<link
rel='stylesheet'
type='text/css'
href="{%static 'Student_info/css/bootstrap.css'%}"
/>
<link href="sortable.css" rel="stylesheet" />
<script src="sortable.js"></script>
<!doctype html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <title>Home Page</title>

    </head>
    
    <body style="background-color:#87CEEB;">
        {% comment %} <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> {% endcomment %}
    	<h1> <center>WELCOME TO SGGS TY IT</h1></center>
    
    	{% comment %} <img src="SGGS.jpeg" alt="SGGS College" width="450" height="400">   {% endcomment %}
        <h3><center><i><font color="red">Developed By Python Creaters</font></i></h3></center>
          
          <body bgcolor="sky Blue"> 
            <nav class="navbar bg-light">
              <div class="container-fluid">
                <a class="navbar-brand">
                  {% load static %} <img src="{% static "Sudent_Faculty/media/sggs2.png"%}" alt="Logo" width="1370" height="470" class="d-inline-block align-text-top">
                 {% comment %} <br> <b>Shri Guru Gobind Singhji Institude of Engineering and Technology</b>
                 <br> Vishnupuri,Nanded(Maharashtra State) INDIA PIN 431606
                  <br>Goverment Aided Autonomous Institude DTE code:2020
                  <br>NAAC Accredited Institude GRADE B++, CGPA 2.91(2020-2025)
                  <br><b> Vision Statement: Education of Human Power for Technological Excellence {% endcomment %}
                </a>
              </div>
            </nav>
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/Home/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/Student/">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/Admission/">Admission</a>
              </li>  
			<li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/Mark/">Marks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:80	00/Feedback/">Feedback</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/register/">Register</a>
              </li>
            <div>
                <marquee direction="left"  >Shri Guru Gobind Singhji Institude Of Engineering And Technology,Vishnupuri, Nanded &nbsp Shri Guru Gobind Singhji Institude Of Engineering And Technology,Vishnupuri, Nanded  &nbsp Shri Guru Gobind Singhji Institude Of Engineering And Technology,Vishnupuri Nanded &nbsp  Shri Guru Gobind Singhji Institude Of Engineering And Technology,Vishnupuri, Nanded &nbsp Shri Guru Gobind Singhji Institude Of Engineering And Technology,Vishnupuri, Nanded &nbsp Shri Guru Gobind Singhji Institude Of Engineering And Technology,Vishnupuri, Nanded             </marquee>
               
                <hr color="green">
<div>
                <table class="table" border=3  color="red">
					<thread class="thread-dark">
					<tr>
				<th>Stduent name--Reg NO</th>
					<th>Class</th>
				<th>Branch</th>
				<th>Year</th>
				<th>Date Of Admission</th>
				<th>Semester</th>
				  </thread>
					  </tr>		  
			  
					{% for entry in ad %}
					<tr>
					<td  > {{ entry.regNO }} </td>
				<td > {{ entry.Class }} </td>
				<td > {{ entry.branch }} </td>
				<td> {{ entry.Year }} </td>
				<td> {{ entry.Date_Admission }} </td>
				<td> {{ entry.Semester }} </td>
			  
				   </tr>
           {% endfor %}
					  
				</table>
				  
			  
			  
      </div>
			
					 
            
            </style>
		</body>
		</html> 